@-moz-document domain("boards.4chan.org") {

    /* GENERAL */

    /** DESCRIPTION : set the main font and change others elements **/
    * {
        font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
    }

    html {
        overflow-x: hidden !important;
    }

    body {
        background: #F0F1F5 !important;
    }

    #skellington {
        display: none !important;
    }

    a,
    a:hover {
        border: none !important;
        outline: 0 !important;
        text-decoration: none !important;
        transition: all 0.3s ease-in-out !important;
    }

    .dialog {
        background: #FFF !important;
        border: 1px solid #EBEBEB !important;
    }

    .notification {
        background: #216379 !important;
        border-radius: 2px !important;
        box-shadow: none !important;
        color: #FFF !important;
        padding: 20px 30px !important;
        position: fixed !important;
        top: 35px !important;
        right: 30px !important;
    }

    .notification .message {
        color: #FFF !important;
        font-family: "Roboto" !important;
        font-size: 9.5pt !important;
        padding: 0px !important;
        text-align: left !important;
        text-shadow: none !important;
        position: relative !important;
    }

    #notifications .close.fa.fa-times {
        box-shadow: none !important;
        color: #000 !important;
        height: 54px !important;
        width: 500px !important;
        opacity: 0 !important;
        z-index: 10 !important;
    }

    .closed {
        background: #EB6361 !important;
        border-radius: 2px !important;
        box-shadow: none !important;
        color: #FFF !important;
        font-size: 9.5pt !important;
        padding: 20px 30px !important;
        text-align: left !important;
        position: absolute !important;
        top: 55px !important;
        right: 50px !important;
        z-index: 99999 !important;
    }

    #globalMessage {

        /*** GLOBAL MESSAGE ***/
        background: #FEC34E !important;
        border-radius: 2px !important;
        color: #FFF !important;
        font-weight: bold !important;
        padding: 20px 30px !important;
        text-align: left !important;
        position: fixed !important;
        top: 35px !important;
        right: 30px !important;
        z-index: 99999 !important;
    }

    #globalMessage a {
        color: #FFF !important;
        font-size: 9.5pt !important;
    }

    .warning {

        /*** WARNING ***/
        color: #212121 !important;
    }

    form[enctype="multipart/form-data"],
    .middlead.center,
    .ss-sidebar:root body::before,
    .brackets-wrap.pass-link-container,
    .hashlink,
    #navlinks a[href="javascript:;"] {

        /*** OTHERS ***/
        display: none !important;
    }

    .exlinksOptionsLink.entry {
        opacity: 0 !important;
    }

    #fourchanx-settings,
    #oneechan-options {
        background: #FFF !important;
    }

    #fourchanx-settings *,
    #oneechan-options * {
        color: #7E7E7E;
        font-size: 11pt;
        font-stretch: condensed !important;
    }

    #fourchanx-settings nav {
        background: #34495E !important;
        padding: 14px 20px 23px 20px !important;
    }

    #fourchanx-settings .sections-list,
    #fourchanx-settings .credits {
        color: transparent;
    }

    #fourchanx-settings .sections-list a,
    #fourchanx-settings .credits a {
        font-size: 12pt !important;
    }

    #fourchanx-settings .tab-selected {
        color: #FFF !important;
        font-weight: normal !important;
    }

    #fourchanx-settings .section-container {
        top: 4.5em;
        z-index: -1 !important;
    }

    #fourchanx-settings legend,
    #oneechan-options .option.header .option-title {
        border: none !important;
        color: #212121 !important;
        font-size: 15pt !important;
        font-weight: normal !important;
    }

    #fourchanx-settings .suboption-list > div:last-of-type,
    .focused.entry {
        background: #FFF !important;
    }

    #oneechan-options .tab-item * {
        background: #FFF !important;
        color: #212121 !important;
        font-family: "Roboto" !important;
        font-size: 11pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
        text-transform: lowercase !important;
    }

    #oneechan-options #main-section > .option:nth-of-type(2n),
    #oneechan-options #main-section > .option:nth-of-type(2n+1) {
        background: #FFF !important;
        border: 1px solid #EBEBEB !important;
        padding: 5px 8px !important;
        margin-bottom: -1px !important;
    }

    #oneechan-options .options-button {
        background: #FFF !important;
        border: 1px solid #EBEBEB !important;
        border-radius: 2px !important;
        font-family: "Roboto" !important;
        font-size: 11pt !important;
        font-stretch: condensed !important;
        text-transform: lowercase !important;
    }

    .options-close {
        margin-bottom: 5px !important;
    }

    #oneechan-options select,
    #oneechan-options input {
        background: #FFF !important;
        border: 1px solid #EBEBEB !important;
        font-size: 11pt !important;
        font-family: "Roboto" !important;
    }

    .riceCheck,
    .riceCheck:hover {
        background: #FFF !important;
        border: 1px solid #EBEBEB !important;
    }

    input[type="checkbox"]:checked::before,
    input[type="checkbox"]:checked + .riceCheck::before {
        filter: invert(1) !important;
    }

    /* HEADER BAR */

    /** DESCRIPTION : change the appearance of the headerbar **/
    #header-bar {
        background: transparent !important;
        box-shadow: none !important;
        color: transparent !important;
        padding: 12px !important;
        margin-top: -10px !important;
    }

    .fixed:root #header-bar {
        background: #ED939D !important;
        margin-top: 0px !important;
    }

    #header-bar a {
        color: #FFF !important;
    }

    :root:not(.fixed) #board-list {
        background: #8199A3 !important;
        padding: 20px !important;
        word-spacing: 0px !important;
        position: fixed !important;
        top: 0px !important;
        left: 0px !important;
        z-index: 99999 !important;
    }

    #full-board-list {
        color: transparent !important;
    }

    #header-bar #full-board-list a:not(.current) {
        color: #FFF !important;
        margin-right: -5px !important;
    }

    #header-bar #full-board-list a.current {
        display: none !important;
    }

    #header-bar #board-list a:not(.current) {
        font-size: 11pt !important;
        font-weight: 900 !important;
        padding-right: 2px !important;
        padding-left: 4px !important;
    }

    #header-bar #custom-board-list .current {
        border: none !important;
        font-size: 11pt !important;
        font-weight: 900 !important;
    }

    :root:not(.fixed) #custom-board-list {
        background: #8199A3 !important;
        color: transparent;
        width: 100% !important;
        padding: 20px !important;
        position: fixed !important;
        top: -56px !important;
        left: 0px !important;
        transition: 0.3s ease-in-out !important;
        z-index: 999 !important;
    }

    :root:not(.fixed) #custom-board-list:hover {
        top: 0px !important;
        transition: 0.3s ease-in-out !important;
    }

    .fixed:root #header-bar a,
    :root:not(.fixed) #custom-board-list a {
        color: #FFF !important;
        font-stretch: condensed !important;
    }

    :root:not(.fixed) #custom-board-list a.current {
        background: #8199A3 !important;
        height: 55px !important;
        width: auto !important;
        line-height: 50px !important;
        padding: 0px 26px !important;
        text-align: center !important;
        text-transform: uppercase !important;
        position: absolute !important;
        top: 60px !important;
        left: 0px !important;
    }

    .fixed:root #header-bar a.current {
        display: none !important;
    }

    :root:not(.fixed) #shortcuts {
        color: #FFF !important;
        width: 100% !important;
        text-align: center !important;
        position: absolute !important;
        top: 230px !important;
        opacity: 1 !important;
        z-index: 10 !important;
        margin-left: -16px !important;
    }

    .centered-links:root:not(.fixed) #shortcuts {
        text-align: left !important;
        margin-left: -75px !important;
    }

    .fixed:root:not(.centered-links) #shortcuts {
        text-align: right !important;
    }

    :root:not(.fixed) #shortcuts a,
    .fixed:root:not(.centered-links) #shortcuts a,
    .menu-button:not(.fa-bars) {
        color: #FFF !important;
    }

    #shortcuts .dialog:not(#qr):not(#thread-watcher):not(#header-bar) {
        background: #FFF !important;
        border: 1px solid #EBEBEB !important;
        border-radius: 2px !important;
        box-shadow: none !important;
        font-stretch: condensed !important;
        padding: 15px !important;
    }

    #watched-threads a {
        color: #47B39D !important;
    }

    #watched-threads .replies-unread.replies-quoting-you * {
        color: #34495E !important;
    }

    #shortcuts .dialog:not(#qr):not(#thread-watcher):not(#header-bar) * {
        font-size: 11pt !important;
    }

    #shortcuts .dialog:not(#qr):not(#thread-watcher):not(#header-bar) a {
        color: #7E7E7E !important;
    }

    .fixed-watcher:root #thread-watcher {

        /*** WATCHER ***/
        border-radius: 2px !important;
        box-shadow: none !important;
        font-size: 9.5pt !important;
        padding: 10px 20px 20px 20px !important;
        position: fixed;
        z-index: 9999 !important;
    }

    .dialog:not(#qr):not(#thread-watcher):not(#header-bar),#oneechan-options {
        box-shadow: 0 1px 2px rgba(0, 0, 0, .15) !important;
        border-radius: 2px !important;
    }

    .dialog:not(#qr):not(#thread-watcher):not(#header-bar) .section-container {
        padding: 10px !important;
    }

    .dialog:not(#qr):not(#thread-watcher):not(#header-bar) .section-container fieldset {
        border: none !important;
    }

    #options-container:not(.yui-skin-sam) {
        box-shadow: none !important;
    }

    .tab-label {
        border-radius: 1px !important;
    }

    /* SIDEBAR */

    /** DESCRIPTION : change the appearance and position of elements of the sidebar **/
    .right-sidebar:root body {

        /*** RIGHT SIDEBAR WIDTH ***/
        padding-right: 0px;
    }

    .left-sidebar:root body {

        /*** LEFT SIDEBAR WIDTH ***/
        padding-left: 0px;
    }

    :root {
        --banner: url('https://i.imgur.com/QEKEvkx.jpg');
    }

    .boardBanner {
        background-image: var(--banner);
        background-position: center 32% !important;
        background-size: cover !important;
        border-bottom: 60px solid #34495E !important;
        height: 200px !important;
        width: 90% !important;
        line-height: 200px !important;
        position: relative !important;
        margin-top: 85px !important;
    }

    .board_a .boardBanner {
        background-image: url("https://i.imgur.com/ODay3dK.jpg") !important;
        background-position: center !important;
    }

    .board_c .boardBanner {
        background-image: url("https://i.imgur.com/hVKOkER.jpg") !important;
        background-position: center !important;
    }

    .board_ck .boardBanner {
        background-image: url("https://i.imgur.com/CVNUbeL.jpg") !important;
        background-position: center 38% !important;
    }

    .board_e .boardBanner {
        background-image: url("https://i.imgur.com/6w0BVwI.jpg") !important;
        background-position: center 40% !important;
    }

    .board_g .boardBanner {
        background-image: url("https://i.imgur.com/jMXTZ2D.jpg") !important;
        background-position: center 40% !important;
    }

    .board_gif .boardBanner {
        background-image: url("http://i.4cdn.org/wg/1510414778158.jpg") !important;
        background-position: center 70% !important;
    }

    .board_ic .boardBanner {
        background-image: url("https://i.imgur.com/gGBPsJp.jpg") !important;
        background-position: center !important;
    }

    .board_h .boardBanner {
        background-image: url("https://i.imgur.com/jUc7rxF.jpg") !important;
        background-position: center !important;
    }

    .board_jp .boardBanner {
        background-image: url("https://i.imgur.com/OYMZ9sk.jpg") !important;
        background-position: center 30% !important;
    }

    .board_v .boardBanner {
        background-image: url("https://i.imgur.com/sonA6nA.jpg") !important;
        background-position: center 30% !important;
    }

    .board_vg .boardBanner {
        background-image: url("https://i.imgur.com/Qz4792a.jpg") !important;
        background-position: center 25% !important;
    }

    .board_vp .boardBanner {
        background-image: url("http://gzsihai.com/data/out/250/im-500196369.png") !important;
        background-position: center 60% !important;
    }

    .board_w .boardBanner {
        background-image: url("https://i.imgur.com/hbMbcDA.jpg") !important;
        background-position: center 70% !important;
    }

    .board_wg .boardBanner {
        background-image: url("https://i.imgur.com/Tgx9FjO.jpg") !important;
        background-position: center 52% !important;
    }

    .board_wsg .boardBanner {
        background-image: url("https://i.imgur.com/Oh3nsgh.jpg") !important;
        background-position: center 70% !important;
    }

    .boardBanner .boardTitle {
        color: #FFF !important;
        font-family: "Proxima Nova", "KFHimaji" !important;
        font-size: 28pt !important;
        font-weight: bold !important;
        height: 200px !important;
        text-shadow: 3px 3px rgba(117, 83, 108, .7) !important;
        text-transform: uppercase !important;
    }

    .boardSubtitle {
        display: none !important;
    }

    /* NAVLINKS */

    /** DESCRIPTION : change the appearance and position of the navlinks **/
    #index-search {
        background: #074354 !important;
        border-color: #053542 !important;
        padding: 5px 7px !important;
        color: #FFF !important;
        font-weight: bold !important;
        width: 300px !important;
        text-transform: uppercase !important;
        position: absolute !important;
        margin-top: -49px !important;
        margin-left: 6% !important;
    }

    #index-search:hover,
    #index-search:focus {
        border-color: #053542 !important;
    }

    #index-options {
        position: absolute !important;
        margin-top: -50px !important;
        right: 106px !important;
    }

    #index-options .riceCheck {
        display: none !important;
    }

    #index-sort,
    #index-size,
    #index-mode {
        background: #647387 !important;
        border-color: #212121 !important;
        color: #FFF !important;
        font-size: 10pt !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
        padding: 4px 5px !important;
        text-transform: uppercase !important;
        margin-right: -1px !important;
    }

    /* INDEX MODE */

    /** DESCRIPTION : change elements from catalog, paged, all threads and infinite scrolling mode **/
    .boardBanner #bannerCnt,
    .right-sidebar:root .exlinksOptionsLink.entry,
    .brackets-wrap.indexlink,
    .brackets-wrap.archlistlink,
    .brackets-wrap.bottomlink,
    #index-last-refresh {

        /*** RIGHT SIDEBAR'S ELEMENTS ***/
        display: none !important;
    }

    /* CATALOG */

    /** DESCRIPTION : change elements from catalog **/
    .catalog-mode:root .board {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        width: 89.9% !important;
        padding-top: 50px !important;
        margin-top: -10px !important;
        margin-left: 5% !important;
    }

    .catalog-mode:root .catalog-post {

        /*** THREAD THUMB ***/
        background: #343557 !important;
    }

    .catalog-mode:root .catalog-thumb {

        /*** THREAD PICTURE ***/
        border-radius: 1px !important;
        box-shadow: none !important;
        margin-top: -4px !important;
    }

    .catalog-mode:root .catalog-thread.watched .catalog-thumb {
        border: none !important;
    }

    .catalog-mode:root .catalog-stats {

        /*** THREAD STATS ***/
        background: #E3C39D !important;
        color: #FFF !important;
        font-size: 8.5pt !important;
        height: 28px !important;
        line-height: 26px !important;
        padding: 1px 9px !important;
    }

    .catalog-mode:root .catalog-thread.watched .catalog-stats {
        background: #47B39D !important;
    }

    .catalog-mode:root .catalog-stats span {
        font-size: 10pt !important;
        font-stretch: condensed !important;
    }

    .catalog-mode:root .catalog-icons > img {
        margin-top: 2px !important;
    }

    .reply-fit-width:root .post .menu-button {
        color: #FFF !important;
        padding-left: 5px !important;
        opacity: 1 !important;
        margin-top: -5.5px !important;
    }

    .reply-fit-width:root .post .menu-button .dialog:not(#qr):not(#thread-watcher):not(#header-bar) {
        border: 1px solid #EBEBEB !important;
        border-radius: 2px !important;
        box-shadow: none !important;
        font-stretch: condensed !important;
        padding: 15px !important;
    }

    .post .menu-button .dialog:not(#qr):not(#thread-watcher):not(#header-bar) * {
        font-size: 11pt !important;
    }

    .has-submenu::after {
        background: no-repeat url("https://i.imgur.com/OygFMxF.png") center !important;
        background-size: cover !important;
        border: none !important;
        padding: 10px 0px 0px 10px !important;
        margin-top: 9px !important;
    }

    .catalog-mode:root .subject {

        /*** THREAD SUBJECT ***/
        background: #FFF !important;
        border: 1px solid #EBEBEB;
        border-width: 0px 1px !important;
        color: #60646D !important;
        font-size: 11pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
        padding: 5px 10px !important;
        margin-top: -5px !important;
        margin-right: -13px !important;
        margin-left: -13px !important;
    }

    .catalog-post > .postMessage {

        /*** THREAD DESCRIPTION ***/
        background: #FFF !important;
        border: 1px solid #EBEBEB;
        border-width: 0px 1px 1px 1px !important;
        font-size: 9pt !important;
        max-height: 100px !important;
        padding: 0px 15px 10px 15px !important;
        margin-top: -5px !important;
        margin-bottom: -4px !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    #hidden-label {

        /*** THREAD HIDDEN THREAD ***/
        background: #444B54 !important;
        border-radius: 2px !important;
        color: #FFF !important;
        font-family: "Roboto";
        font-size: 10.5pt !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
        padding: 10px 15px !important;
        position: fixed !important;
        bottom: 20px !important;
        left: 20px !important;
        z-index: 999 !important;
    }

    /* QUICKREPLAY */

    /** DESCRIPTION : change the appearance of the quickreply **/
    .vertical-qr:root #qr .move {
        bottom: 138px;
    }

    #qr {
        background: #FFF !important;
        border: 1px solid #EBEBEB !important;
        opacity: 1 !important;
        padding: 10px !important;
    }

    .textarea {
        padding-top: 5px !important;
    }

    .field,
    .field:focus,
    .field:hover,
    #qr-file-button,
    #qr-filename-container,
    #file-n-submit input[type="submit"] {
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }

    #qr-file-button,
    #file-n-submit input[type="submit"] {
        color: #7E7E7E !important;
        font-size: 9pt !important;
        font-weight: bold !important;
    }

    .field[data-name="name"],
    .field[data-name="email"],
    .field[data-name="sub"],
    .field[data-name="name"]:hover,
    .field[data-name="email"]:hover,
    .field[data-name="sub"]:hover,
    .field[data-name="name"]:focus,
    .field[data-name="email"]:focus,
    .field[data-name="sub"]:focus {
        background: #F3C9BF !important;
        border: 1px solid #FE8A71 !important;
        color: #FFF !important;
        padding: 6px !important;
    }

    .captcha-root,
    .captcha-root:hover {
        background: transparent !important;
        border: none !important;
        padding: 7px 0px 20px 0px !important;
    }

    .captcha-counter {
        background: #F38A8A !important;
        color: #FFF !important;
        padding: 10px !important;
        margin-top: 10px !important;
    }

    .captcha-counter * {
        color: #FFF !important;
        font-size: 9pt !important;
        font-weight: bold !important;
    }

    /* PAGED/ALL THREADS/INFINITE */

    /** DESCRIPTION : change the appearance of the elements in paged, all threads and infinite mode **/
    .paged-mode .thread,
    .infinite-mode .thread,
    .all-pages-mode .thread {
        background: transparent !important;
        border: 1px solid #E7E7E7;
        border-bottom: none !important;
        padding: 20px 20px 40px 20px !important;
        margin-top: -10px !important;
        margin-right: 5.1% !important;
        margin-left: 4.9% !important;
    }

    .brackets-wrap.cataloglink,
    .summary,
    .fa.fa-minus-square {
        display: none !important;
    }

    .pagelist.json-index {
        width: 100% !important;
        margin-left: 79px !important;
        margin-top: -3px !important;
    }

    div.pagelist div.pages {
        background: #E6DCDB !important;
        padding: 20px !important;
        width: 87.5% !important;
        margin-top: -15px !important;
        margin-bottom: 50px !important;
    }

    .pages a {
        color: #FFF !important;
        font-weight: bold !important;
        font-size: 9.5pt !important;
    }

    .pages.cataloglink {
        display: none;
    }

    .prev,
    .next {
        display: none !important;
    }

    .hide-thread-button {
        display: none !important;
    }

    /* THREAD */

    /** DESCRIPTION : tweak the elements of the thread page **/
    .is_thread .board .thread {

        /*** THREAD BODY ***/
        background: transparent !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        padding: 20px !important;
        margin-top: -5px !important;
        margin-right: 5.1% !important;
        margin-left: 5% !important;
    }

    #update-timer,
    #update-status {

        /*** THREAD NAVLINKS ***/
        display: none !important;
    }

    .style-stats:root #thread-stats,
    .style-stats:root #updater,
    .style-stats:root #stats {
        border: none !important;
        box-shadow: none !important;
    }

    #thread-stats span {
        font-size: 10pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
    }

    :root.fixed .is_thread #shortcuts #shortcut-stats {
        color: #FFF !important;
        font-size: 9.5pt !important;
        font-weight: bold !important;
    }

    :root:not(.fixed) .is_thread #shortcuts #shortcut-stats {
        background: #074354 !important;
        border: 1px solid #053542 !important;
        font-size: 9.5pt !important;
        font-weight: bold !important;
        padding: 5px 50px 5px 10px !important;
        position: absolute !important;
        left: 100px !important;
        margin-top: 83px !important;
    }

    .centered-links:root:not(.fixed) .is_thread  #shortcuts #shortcut-stats {
        left: -637px !important;
    }

    :root:not(.fixed) .is_thread #shortcuts .new {
        color: #40BC86 !important;
        font-size: 9.5pt !important;
        font-weight: bold !important;
        position: absolute !important;
        left: 218px !important;
        margin-top: 77px !important;
        z-index: 9999 !important;
    }

    :root.fixed .is_thread  #shortcuts .new {
        color: #C6F0DA !important;
        font-size: 9.5pt !important;
        font-weight: bold !important;
    }

    .is_thread .navLinks.desktop {
        background: #647387 !important;
        border: 1px solid #212121 !important;
        color: transparent !important;
        padding: 5px 10px !important;
        position: absolute !important;
        margin-top: -45px !important;
        right: 104px !important;
        text-align: left !important;
    }

    .is_thread .navLinks.navLinksBot.desktop {
        visibility: hidden;
    }

    .is_thread .navLinks.desktop a {
        color: #FFF !important;
        border-right: 1px solid #212121 !important;
        font-size: 10pt !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
        padding: 5px 45px 5px 0px !important;
        text-transform: uppercase !important;
    }

    .is_thread .navLinks.desktop a:last-child {
        border: none !important;
    }

    .fa-angle-down::before {

        /*** THREAD POST ***/
        color: #7E7E7E !important;
        margin-top: 7px !important;
        margin-right: 10px !important;
    }

    .quotelink {
        border: none !important;
        color: #DC626F !important;
        font-size: 11pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
        text-decoration: none !important;
    }

    .opContainer.opContainer {

        /*** OP ***/
        font-size: 9.5pt !important;
        padding: 20px 0px 20px 20px !important;
        margin-top: 14px !important;
        margin-right: 6px !important;
        margin-left: 8px !important;
    }

    :root.op-background .postContainer.opContainer {
        background: #FFF !important;
        border: 1px solid #EBEBEB !important;
        box-shadow: none !important;
    }

    .post.op {
        background: #FFF !important;
    }

    #hoverUI .opContainer.opContainer {
        margin: 20px 0px 0px 0px !important;
        padding: 0px 0px 8px 0px !important;
    }

    .opContainer.opContainer .fa-angle-down::before {
        color: transparent !important;
    }

    .reply-hide:root .thread > .threadContainer {

        /*** THREAD CONTAINER ***/
        margin-left: 8px !important;
    }

    .threadContainer {
        margin-left: 10px !important;
        border-left: 1px dashed #D2D7D3 !important;
    }

    .reply-fit-width:root .reply.post {

        /*** POST ***/
        border-radius: 1px !important;
        font-size: 9.5pt !important;
        padding-bottom: 10px !important;
        margin-right: 6px !important;
        margin-bottom: 6px !important;
    }

    .postContainer .post.reply {
        background: #FFF !important;
        border: 1px solid #FFF !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .05) !important;
    }

    .recolor-even:root .thread > .replyContainer:nth-of-type(2n):not(.hidden) .post {
        background: #FDFDFD !important;
    }

    #hoverUI .reply.post {
        margin-right: 0px !important;
    }

    .post-info:root .reply > .postInfo {
        background: #ECF0F1;
        border: none !important;
        border-radius: 1px !important;
        box-shadow: none !important;
        width: auto !important;
        padding: 12px !important;
        margin-bottom: 20px !important;
    }

    .post .subject {
        font-size: 11pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
    }

    .nameBlock:not(.capcodeMod) > .name,.com,.post-author {
        color: #4694AA !important;
        font-size: 11pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
        letter-spacing: .2px !important;
        margin-right: 8px !important;
        margin-left: 6px !important;
    }

    .postNum {
        font-size: 11pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
        letter-spacing: .2px !important;
        margin-left: 8px !important;
    }

    .postNum * {
        color: #2CC990 !important;
    }

    .dateTime {
        color: #B5AFA2 !important;
        font-size: 11pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
        letter-spacing: .2px !important;
    }

    :root:not(.ua-webkit):not(.ua-blink) .fileText {
        font-size: 9pt !important;
        margin-top: -10px !important;
        margin-bottom: 10px !important;
    }

    .post-info.rounded-corners:root .reply > .postInfo,
    .rounded-corners:root #qr,
    .rounded-corners.vertical-qr:root:root #qr > .move,
    .rounded-corners:root .fileThumb img:not(.full-image) {
        border-radius: 1px !important;
    }

    .post .postMessage {
        color: #34495E !important;
        font-size: 10pt !important;
    }

    .fa.fa-minus-square-o {

        /*** MINIMIZE ICON ***/
        display: none !important;
    }

    #hoverUI .yourPost .reply,
    #hoverUI .quotesYou .reply {
        border-bottom: 1px solid #FFF !important;
    }

    .highlight-own:root .yourPost > .reply {
        border-left: 1px solid #FFF !important;
        border-bottom: 4px solid #F1A49F !important;
    }

    .highlight-you:root .quotesYou > .reply {
        border-left: 1px solid #FFF !important;
        border-bottom: 4px solid rgba(44, 100, 160, 1) !important;
    }

    .postNum a[href$="00');
    "]:after, .postNum a[href$="11');
    "]:after, .postNum a[href$="22');
    "]:after, .postNum a[href$="33');
    "]:after, .postNum a[href$="44');
    "]:after, .postNum a[href$="55');
    "]:after, .postNum a[href$="66');
    "]:after, .postNum a[href$="77');
    "]:after, .postNum a[href$="88');
    "]:after, .postNum a[href$="99');

    "]:after {

        /*** DUBS ***/
        content: " ✔" !important;
        color: #4caf50 !important;
        font-weight: bold !important;
        font-size: 14px !important;
        position: relative !important;
        top: -1px !important;
    }

    .postNum a[href$="000');
    "]:after, .postNum a[href$="111');
    "]:after, .postNum a[href$="222');
    "]:after, .postNum a[href$="333');
    "]:after, .postNum a[href$="444');
    "]:after, .postNum a[href$="555');
    "]:after, .postNum a[href$="666');
    "]:after, .postNum a[href$="777');
    "]:after, .postNum a[href$="888');
    "]:after, .postNum a[href$="999');

    "]:after {

        /*** TRIPS ***/
        content: " ✔✔✔" !important;
        color: #ff9800 !important;
    }

    .postNum a[href$="0000');
    "]:after, .postNum a[href$="1111');
    "]:after, .postNum a[href$="2222');
    "]:after, .postNum a[href$="3333');
    "]:after, .postNum a[href$="4444');
    "]:after, .postNum a[href$="5555');
    "]:after, .postNum a[href$="6666');
    "]:after, .postNum a[href$="7777');
    "]:after, .postNum a[href$="8888');
    "]:after, .postNum a[href$="9999');

    "]:after {

        /*** QUADS ***/
        content: " ✔✔✔✔" !important;
        color: #f44336 !important;
    }

    .postNum a[href$="00000');
    "]:after, .postNum a[href$="11111');
    "]:after, .postNum a[href$="22222');
    "]:after, .postNum a[href$="33333');
    "]:after, .postNum a[href$="44444');
    "]:after, .postNum a[href$="55555');
    "]:after, .postNum a[href$="66666');
    "]:after, .postNum a[href$="77777');
    "]:after, .postNum a[href$="88888');
    "]:after, .postNum a[href$="99999');

    "]:after {
        content: " ✔✔✔✔✔" !important;
        color: #e040fb !important;
    }

    .postNum a[href$="000000');
    "]:after, .postNum a[href$="111111');
    "]:after, .postNum a[href$="222222');
    "]:after, .postNum a[href$="333333');
    "]:after, .postNum a[href$="444444');
    "]:after, .postNum a[href$="555555');
    "]:after, .postNum a[href$="666666');
    "]:after, .postNum a[href$="777777');
    "]:after, .postNum a[href$="888888');
    "]:after, .postNum a[href$="999999');

    "]:after {
        content: " ✔✔✔✔✔✔" !important;
        color: #651fff !important;
    }

    .postNum a[href$="0000000');
    "]:after, .postNum a[href$="1111111');
    "]:after, .postNum a[href$="2222222');
    "]:after, .postNum a[href$="3333333');
    "]:after, .postNum a[href$="4444444');
    "]:after, .postNum a[href$="5555555');
    "]:after, .postNum a[href$="6666666');
    "]:after, .postNum a[href$="7777777');
    "]:after, .postNum a[href$="8888888');
    "]:after, .postNum a[href$="9999999');

    "]:after {
        content: " ✔✔✔✔✔✔✔" !important;
        color: #304ffe !important;
    }

    .postNum a[href$="00000000');
    "]:after, .postNum a[href$="11111111');
    "]:after, .postNum a[href$="22222222');
    "]:after, .postNum a[href$="33333333');
    "]:after, .postNum a[href$="44444444');
    "]:after, .postNum a[href$="55555555');
    "]:after, .postNum a[href$="66666666');
    "]:after, .postNum a[href$="77777777');
    "]:after, .postNum a[href$="88888888');
    "]:after, .postNum a[href$="99999999');

    "]:after {
        content: " ✔✔✔✔✔✔✔✔" !important;
        color: #2196f3 !important;
    }

    .postNum a[href$="000000000');
    "]:after, .postNum a[href$="111111111');
    "]:after, .postNum a[href$="222222222');
    "]:after, .postNum a[href$="333333333');
    "]:after, .postNum a[href$="444444444');
    "]:after, .postNum a[href$="555555555');
    "]:after, .postNum a[href$="666666666');
    "]:after, .postNum a[href$="777777777');
    "]:after, .postNum a[href$="888888888');
    "]:after, .postNum a[href$="999999999');

    "]:after {
        content: " ✔✔✔✔✔✔✔✔✔" !important;
        color: #000000 !important;
    }

    .fileText a {

        /*** POST FILE HEADER***/
        color: #60646D !important;
        font-size: 11pt !important;
        font-stretch: condensed !important;
    }

    .fileText .file-info {
        color: #6797A1 !important;
        font-size: 11pt !important;
        font-stretch: condensed !important;
    }

    .post .fileThumb img {

        /*** POST FILE PICTURE ***/
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
    }

    a[href="#top"] {

        /*** TOP LINK ***/
        position: fixed !important;
        right: -7px !important;
        bottom: 20px !important;
        visibility: hidden;
    }

    a[href="#top"]:hover {
        opacity: .8 !important;
    }

    a[href="#top"]::before {
        background-color: #60646D !important;
        background-image: url("http://i.imgur.com/aS0cxCz.png") !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 15px auto !important;
        border-radius: 2px !important;
        color: transparent !important;
        content: "dd" !important;
        height: 40px !important;
        width: 40px !important;
        position: absolute !important;
        bottom: 0px !important;
        margin-left: -2px !important;
        visibility: visible !important;
    }

}
