/****************
HEADING
****************/

header {
  margin: 100px auto;
}

h1 {
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 3.0em;
  text-align: center;
}


/****************
LISTS
****************/

.main h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin: 0;
}

.main a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-decoration: none;
}

.main ul {
  margin: 0;
  padding: .125em 0;
  text-align: center;
  list-style: none;
}

.main section {
  display: inline-block;
  float: left;
  margin: 20px 15%;
  width: 70%;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

/****************
COLORS
****************/

body {
  background-color: #272727;
  color: #EFF1F5;
}

body a, body a:visited {
  color: #65737E;
}

body a:hover {
  color: #96B5B4;
}

.main ul {
  background-color: #EFF1F5;
}

.reddit h3 {
  background-color: #8FA1B3;
}

.college h3 {
  background-color: #96B5B4;
}

.dev h3 {
  background-color: #A3BE8C;
}

.general h3 {
  background-color: #AB7967;
}
