<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="Openbox 3">
		<item label="      M  E  N  U">
			<action name="Execute">
				<execute>command</execute>
			</action>
		</item>
		<separator/>
		<menu id="System Tools" label="System Tools">
			<item label="Thunar">
				<action name="Execute">
					<execute>thunar</execute>
				</action>
			</item>
			<item label="Termite">
				<action name="Execute">
					<execute>termite</execute>
				</action>
			</item>
			<item label="Openbox Menu Configuration">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="Openbox Settings">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<separator/>
			<item label="Print Settings">
				<action name="Execute">
					<execute>system-config-printer</execute>
				</action>
			</item>
			<separator/>
			<item label="Bluetooth">
				<action name="Execute">
					<execute>blueberry</execute>
				</action>
			</item>
		</menu>
		<!-- Graphics -->
		<separator/>
		<menu id="Internet" label="Internet">
			<item label="Firefox">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
			<item label="Tor Browser">
				<action name="Execute">
					<execute>tor-browser-en</execute>
				</action>
			</item>
			<item label="Transmission">
				<action name="Execute">
					<execute>transmission-gtk</execute>
				</action>
			</item>
		</menu>
		<!-- Internet -->
		<separator/>
		<menu id="Office Tools" label="Office Tools">
			<item label="Word">
				<action name="Execute">
					<execute>playonlinux --run 'Microsoft Word 2010'</execute>
				</action>
			</item>
			<item label="Powerpoint">
				<action name="Execute">
					<execute>playonlinux --run 'Microsoft Powerpoint 2010'</execute>
				</action>
			</item>
			<item label="Excel">
				<action name="Execute">
					<execute>playonlinux --run 'Microsoft Excel 2010'</execute>
				</action>
			</item>
			<separator/>
			<item label="Sublime Text">
				<action name="Execute">
					<execute>subl</execute>
				</action>
			</item>
			<item label="Master PDF Editor">
				<action name="Execute">
					<execute>pdfeditor</execute>
				</action>
			</item>
			<separator/>
			<item label="Calculator">
				<action name="Execute">
					<execute>gnome-calculator</execute>
				</action>
			</item>
		</menu>
		<!-- Sound & Video -->
		<!-- System Tools -->
		<separator/>
		<menu id="Sound &amp; Video" label="Sound &amp; Video">
			<item label="mpv Media Player">
				<action name="Execute">
					<execute>mpv --profile=pseudo-gui -- </execute>
				</action>
			</item>
			<item label="Pulse Audio Volume Control">
				<action name="Execute">
					<execute>pavucontrol</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="Graphics" label="Graphics">
			<item label="Mirage Image Viewer">
				<action name="Execute">
					<execute>mirage</execute>
				</action>
			</item>
			<item label="GNU Image Manipulation Program">
				<action name="Execute">
					<execute>gimp-2.8 </execute>
				</action>
			</item>
			<item label="Cheese">
				<action name="Execute">
					<execute>cheese</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="system-menu" label="System">
			<item label="Reconfigure Compton">
				<action name="Execute">
					<execute>compton -b --backend glx --vsync opengl-swc</execute>
				</action>
			</item>
			<separator/>
			<item label="Power Off">
				<action name="Execute">
					<execute>systemctl poweroff</execute>
				</action>
			</item>
			<item label="Reboot">
				<action name="Restart"/>
			</item>
			<item label="Logout">
				<action name="Exit"/>
			</item>
			<separator/>
			<item label="Reconfigure Openbox">
				<action name="Reconfigure"/>
			</item>
		</menu>
	</menu>
</openbox_menu>
